
<h1>User List</h1>
<div class="userCards">
    <mat-card class="userCard" *ngFor="let user of arrayFromChild">
        <mat-card-header>
          <mat-card-title>{{ user.Name + ' ' + user.LastName }}</mat-card-title>
          <mat-card-subtitle>{{ user.City + ', ' + user.country }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="user-card__EmailTitle">Email:</p>
          <p  style="margin-top: -10px;">{{ user.Email }}</p>
          <p class="user-card__PhoneTitle">Phone:</p>
          <p  style="margin-top: -10px;">{{ user.PhoneNumber }}</p>
        </mat-card-content>
      </mat-card>
</div>